Source: play-control
Section: unknown
Priority: extra
Maintainer: Francisco José Canedo Dominguez <paco+debian@lunatech.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.8.3
Homepage: <insert the upstream URL, if relevant>

Package: play-control
Architecture: all
Depends: ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
